<h3>{{leyenda}}</h3>
<div class="input-group mb-3">
    <div class="input-group-prepend" id="button-addon3">
        <button class="btn btn-outline-primary" type="button" (click)="cambiarValor(-5)">
            <i class="mdi mdi-minus"></i>
        </button>
    </div>
    <!--Para que ngmodel funcione se necesia importar el formsmodule-->
    <input type="number" #txtProgress class="form-control" name="progreso" [(ngModel)]="progreso" (ngModelChange)="OnChangeInput( $event )" min="0" max="100">
    <div class="input-group-append">
        <button class="btn btn-outline-primary" type="button" (click)="cambiarValor(+5)">
            <i class="mdi mdi-plus"></i>
        </button>
    </div>
</div>