<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-graficadughnut [doughnutChartData]="graficos.grafico1.data" [doughnutChartLabels]="graficos.grafico1.labels" [doughnutChartType]="graficos.grafico1.type"></app-graficadughnut>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-graficadughnut [doughnutChartData]="graficos.grafico2.data" [doughnutChartLabels]="graficos.grafico2.labels" [doughnutChartType]="graficos.grafico2.type"></app-graficadughnut>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-graficadughnut [doughnutChartData]="graficos.grafico3.data" [doughnutChartLabels]="graficos.grafico3.labels" [doughnutChartType]="graficos.grafico3.type"></app-graficadughnut>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-graficadughnut [doughnutChartData]="graficos.grafico4.data" [doughnutChartLabels]="graficos.grafico4.labels" [doughnutChartType]="graficos.grafico4.type"></app-graficadughnut>
            </div>
        </div>
    </div>
</div>